@font-face {
  font-family: 'AlexandriaFLF';
  src: url('../fonts/AlexandriaFLF.ttf');
}

body {
  background: #f9f9f9;
  color: #8b7355;
  /*font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;*/
  font-family: 'AlexandriaFLF','Helvetica Neue',Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-left: 0;
  margin-left: 0;
}

#window {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 90%;
  margin: 40px auto 40px;
  background: url('../images/newbackground.png');
}

.animals {
  margin: 15px;
}

.icon {
  margin: 10px;
}

a.icon:hover {
  text-decoration: none;
}

#page {
  color: #8b7355;
}

#header {
  font-family: 'AlexandriaFLF','Helvetica Neue',Arial,sans-serif;
  margin: 40px auto 10px;
  padding: 0;
  text-align: center;
}
#header a {
  float: none;
  font-size: 45px;
  line-height: 50px;
  color: #8b7355;
  text-decoration: none;
}

#content p {
  font-family: 'AlexandriaFLF','Helvetica Neue',Arial,sans-serif;
}
ul#content {
  text-align: center;
  padding: 0;
  border-width: 0;
}
ul#content li {
  list-style-type: none;
  display: inline-block;
  border-width: 0;
  padding: 0;
}

/* nav-menu */

ul#nav-menu {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  border-width: 0;
}
ul#nav-menu li {
  float: none;
  list-style-type: none;
  display: inline-block;
  border-width: 0;
  padding: 0;
}
ul#nav-menu li a {
  float: none;
  display: inline-block;
  text-decoration: none;
  border-width: 0;
  padding: 10px 15px;
  font-size: 18px;
}
ul#nav-menu li a {
  color: #ccc;
}
ul#nav-menu li a:hover {
  color: #262626;
}
ul#nav-menu li.current a {
  color: #8b7355;
}

/* resume menu */

ul#resume-menu {
  text-align: center;
  padding: 0;
  border-width: 0;
}
ul#resume-menu li {
  list-style-type: none;
  display: inline-block;
  border-width: 0;
  padding: 0;
}
ul#resume-menu li a {
  float: none;
  display: inline-block;
  text-decoration: none;
  border-width: 0;
  padding: 0px 20px 20px;
  font-weight: bold;
  font-size: 18px;
}
ul#resume-menu li a {
  color: #ccc;
}
ul#resume-menu li a:hover {
  color: #262626;
}
ul#resume-menu li.current a {
  color: #8b7355;
}

#resume-block {
  padding-left: 40px;
}

/* home */
.subtitle {
  font-size: 18px !important;
}

.subtitle.small {
  font-size: 14px !important;
}

.page-active {
  display: block;
}

#footer {
  margin: 40px auto 0;
  border-top: 1px solid #8b7355;
  text-align: center;
  width: 85%;
}
#footer a {
  color: #002b36;
  text-shadow: none;
  text-decoration: none;
  border-bottom: 1px dotted #002b36;
}
#footer a:hover {
  border-bottom-style: solid;
}

